@import '../index.scss';

.Home{
    height: 100vh;
    background-color: $white;

    &__A{
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
        padding: $baseUnit $baseUnit 0 $baseUnit;

        &__Title{
            overflow: hidden;
            h1{
                color: $white;
                white-space: nowrap;
                font-size: 19.1vw;
            }
        }
        
        &__SubTitle{
            //background-color: rgba(255, 0, 0, 0.327);
            margin-top: calc(-2.5*$baseUnit);
            overflow: hidden;
            h2{
                color: $white;
                white-space: nowrap;
                text-align: right;
                font-size: 2.3vw;
                color: rgba(255, 255, 255, 0.7);
                font-family: "PowerM";  
            }
        }
        
        p{
            margin-top: calc(3*$baseUnit);
            line-height: 1;
            color: rgba(255, 255, 255, 0.5);
            
        }

        img{
            position: absolute;
            height: calc(2*$baseUnit);
            bottom: $baseUnit;
            left: 50%;
            transform: translate(-50%, 0%);   
        }
    }

    .videobg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1; 
        width: 100%;
        height: 100vh;
        background-color: blue;  
        overflow: hidden;
    }
    video{
        min-width: 100%;
        min-height: 100%;
        
    }


    .Home__C{
        background-color: $white;
        padding: 0 $baseUnit;


        &__banner{
            height: 50vh;
            width: 100%;
            border-radius: 24px;
            margin: calc(3*$baseUnit) 0;
            background-position-y:80%;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../assets/Banner.png');
        }

        &__profil{
            margin-top: calc(3*$baseUnit);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: $baseUnit;
            
            &__row{
                height: 55vh;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: $baseUnit;

                &__item{
                    width: 100%;
                    height: 55vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 24px;
                    overflow: hidden;
                    position: relative;

                    &__content{
                        padding: $baseUnit;
                        height: 100%;
                        background: linear-gradient(360deg, rgba(0,0,0,0.70) 0%, rgba(0,0,0,0) 100%);
                        z-index: 300;
                        color: $white;
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        gap: 16px;

                        &__name{
                            font-size: $baseUnit;
                            font-family: "PowerM";
                            position: relative;

                            &::before{
                                content: ''; 
                                background-color: $white;
                                position: absolute;
                                width: 0%;
                                height: 1px;
                                bottom: -5px;
                                left: 0;
                                z-index: 1000;
                                transition: all 800ms cubic-bezier(.85,0,.11,.99);
                                opacity: .25;
                            }
                        }

                        &__desc{
                            overflow: hidden;
                            max-height: 0px;
                            font-size: calc($baseUnit/2.5);
                            opacity: .75;
                            transition: all 800ms ease-in-out;
                        }

                        &:hover{
                            .Home__C__profil__row__item__content__name{
                                &::before{
                                    width: 100%;
                                }
                            }
                            .Home__C__profil__row__item__content__desc{
                                max-height: 300px;
                            }
                        }
                    }
                    img{
                        //display: none;
                        z-index: 100;
                        position: absolute;
                        transform: translate(-50%, -50%) scale(1);
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 800ms cubic-bezier(.57,0,.4,1);

                    }

                    &:hover{
                        img{
                            //display: none;
                            transform: translate(-50%, -50%) scale(1.2);
                        } 
                    }
                }
            }
            
        }
    }

    .Home__D{
        background-color: $white;
        width: 100%;
        padding: $baseUnit;
        overflow: hidden;


        &__gallery{
            height: 75vh;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc($baseUnit/4);
            width: fit-content;
            width: 100%;
            margin: calc(3*$baseUnit) 0;
            
            &__item{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 75vh;
                
                flex: 0 1 50px;
                background-color: rgb(0, 0, 0);
                border-radius: 16px;
                position: relative;
                overflow: hidden;
                transition: all 500ms cubic-bezier(.86,0,.15,1);

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    
                }

                &:before{
                    content: attr(data-name);
                    position: absolute;
                    bottom: 0;
                    left: $baseUnit;
                    font-size: 16px;
                    font-weight: 600;
                    opacity: 0;
                    color: $white;
                    text-transform: capitalize;
                    mix-blend-mode: difference;
                    transition: all 500ms cubic-bezier(.86,0,.15,1);
                }

                &:hover{
                    &:before{
                        bottom: $baseUnit;
                        opacity: 1;
                        
                    }
                }
            }
            
        }
    }
    
}