//FONT

  //PowerGrotesk

  @font-face {
    font-family: "PowerB";   /*Can be any text*/
    src: local('PowerB'), url("./font/PowerGrotesk/PowerGroteskTrial-Bold.woff") format("woff");
  }
  @font-face {
    font-family: "PowerM";   /*Can be any text*/
    src: local('PowerM'), url("./font/PowerGrotesk/PowerGroteskTrial-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "PowerR";   /*Can be any text*/
    src: local('PowerR'), url("./font/PowerGrotesk/PowerGroteskTrial-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "PowerL";   /*Can be any text*/
    src: local('PowerL'), url("./font/PowerGrotesk/PowerGroteskTrial-Light.woff") format("woff");
  }


  //NOHEMI
@font-face {
  font-family: "NohemiB";   /*Can be any text*/
  src: local('NohemiB'), url("./font/Nohemi/Nohemi-Bold.woff") format("woff");
}
@font-face {
  font-family: "NohemiR";   /*Can be any text*/
  src: local('NohemiR'), url("./font/Nohemi/Nohemi-Regular.woff") format("woff");
}
@font-face {
  font-family: "NohemiM";   /*Can be any text*/
  src: local('NohemiM'), url("./font/Nohemi/Nohemi-Medium.woff") format("woff");
}
//VARIABLE
$baseUnit : 32px;

$white: white;
$colorp: #333333;
//GENERAL
*{
  //overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "NohemiR", Helvetica, sans-serif;
}

body{
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

p,h1,h2,h3,h3{
  margin:0;
  font-weight: 400;
}

.EikoFont, .charTitle{
  font-family: "PowerM";  
}

a{
  color: black;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.spacer{
  height: calc(6*$baseUnit);
  background-color: $white;
}

.BasicText{
  font-size: $baseUnit;
}

//Transition Screen
.slide-in{
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(91, 108, 223);
  transform-origin: bottom;
}

.slide-out{
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(91, 108, 223);
  transform-origin: top;
}
